.list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 100px;
  height: 40px;

  border: 2px solid rgb(159, 159, 159);
  border-radius: 10px;

  background-color: rgb(224, 224, 224);

  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 5px black;
  letter-spacing: 3px;
}

button:hover {
  box-shadow: inset -1px -1px 3px 1px rgb(71, 71, 71);
  background-color: rgb(237, 237, 237);
}
